* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #373d4b;
}

section {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
}

section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #303241;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 0 15px;
  width: 150px;
  min-height: 200px;
  margin: 15px;
}

article h2 {
  margin: 5px 0;
}

article input {
  margin: 5px 0;
}

h1, h2, h3 {
  font-weight: 600;
  color: #ffffff;
}

p {
  font-weight: 400;
  color: #dfdfdf;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 15px 15px;
}

input, button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font: inherit;
  color: #0f0c29;
  background-color: #dfdfdf;
  border-radius: 10px;
  line-height: 1.5rem;
  padding: 5px 10px;
  height: 30px;
  width: 100px;
  text-align: center;
  caret-color: #5378e0;
  margin: 10px 0 15px;
}

button {
  border: 2px solid #5379e088;
  color: #dfdfdf;
  background-color: #303241;
  width: 300px;
  height: 50px;
  border-radius: 15px;
}

button:hover {
  color: #5378e0;
  background-color: #303241a2;
  border: 2px solid #5378e0;
}

#color_picker {
  height: 30px;
  width: 100px;
}

#color_picker1 {
  height: 30px;
  width: 100px;
}

#color_picker2 {
  height: 30px;
  width: 100px;
}

#brightness {
  margin: 10px 0 15px;
  padding: 0;
  width: 300px;
  min-height: 120px;
}

#brightness input {
  margin: 0;
  padding: 0;
  width: 65%;
}

::-webkit-scrollbar {
  display: none;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #303241;
}

#back-to-menu {
  position: absolute;
  top: 22px;
  left: 15px;
  width: 35px;
  height: 35px;
  margin: 0;
}

#back-icon {
  fill: #5379e06b;
}

#back-icon:hover {
  fill: #5378e0;
}

#settings {
  position: absolute;
  top: 25px;
  left: 15px;
  width: 35px;
  height: 35px;
  margin: 0;
}

#settings-icon {
  fill: #5379e06b;
}

#settings-icon:hover {
  fill: #5378e0;
}

section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

article {
  margin: 0;
  text-align: start;
  width: 200px;
}

article:hover {
  border: 1px solid #5379e098;
}

article h2 {
  text-align: center;
  margin: 15px 0;
  width: 175px;
}

article .photo {
  height: 100px;
  width: 170px;
  overflow: hidden;
  border-radius: 15px;
}

article .photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

article .text {
  width: 170px;
  margin: 10px 0 15px;
}

article .text p {
  line-height: 1.5rem;
  font-weight: 400;
  margin: 7px 5px;
}
