* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #373d4b;
}

section {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  background-color: #303241;
  border: 1px solid rgba(255, 255, 255, 0);
}

h1, h2, h3 {
  font-weight: 600;
  color: #ffffff;
}

p {
  font-weight: 400;
  color: #dfdfdf;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 15px 15px;
}

input, button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font: inherit;
  color: #0f0c29;
  background-color: #dfdfdf;
  border-radius: 10px;
  line-height: 1.5rem;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  caret-color: #5378e0;
  margin: 10px 0 15px;
}

button {
  width: 100px;
  border: 2px solid #5379e088;
  color: #dfdfdf;
  background-color: #303241;
}

button:hover {
  color: #5378e0;
  background-color: #303241a2;
  border: 2px solid #5378e0;
}

::-webkit-scrollbar {
  display: none;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto 0;
  max-width: 580px;
  background-color: #303241;
  border-radius: 20px;
}

section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article {
  padding: 0 15px;
  width: 150px;
  min-height: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px;
  text-align: center;
  background-color: #373d4b;
}

article h2 {
  margin: 5px 0;
}

article input {
  margin: 5px 0;
}

button {
  width: 300px;
  height: 50px;
  border-radius: 15px;
}

#color_picker {
  height: 30px;
  width: 100px;
}
