// ==== Imports ====
@import blank


// ==== Main ====
article
	max-height: 400px
	width: 250px
	
	&:hover
		border: 1px solid #5379e098

	h2
		margin: 10px 0

	.photo
		height: 120px
		width: 230px
		overflow: hidden
		border-radius: 15px

		img
			height: 100%
			width: 100%
			object-fit: cover	

	.text
		width: 230px
		margin: 10px 0 15px
		
		p
			line-height: 1.5rem
			font-weight: 400
			margin: 0 5px

	
			



