// ==== Imports ====

@import blank


// ==== Main ====

h3
	margin: 10px 0 0

.row
	display: flex
	align-items: center
	justify-content: center

textarea
	margin: 15px 20px 15px 0
	width: 300px
	min-height: 55px
	padding: 10px 15px
	background-color: $text-secondary-color
	color: $text-dark
	outline: none
	user-select: none
	resize: none
	border-radius: 15px
	&:focus
		outline: none

button
	width: 120px
	margin: 0
	height: 50px